<!DOCTYPE html>
<html style="height: 100%;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="src/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="src/assets/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <title>STS Basket</title>
</head>

<body style="height: 90%;" v-cloak>
  <div id="app" style="height: 80%;">
    <!-- Top Area -->
    <div class="orderBox">
      <div class="basketName">
        {{ basketName }}
      </div>
      <div class="inputBox shadow">
        <input type="text" v-model="randomValue" placeholder="Random 100" class="form-control" required/>
      </div>
      <button class="btn btn-outline-warning okbtn" v-on:click="createRandOdrList()">
      OK
      </button>
      <button id="btnOrder" class="btn btn-outline-info orderbtn" aria-pressed="false" v-on:click="orderBtnClick()">
      주문
      </button>
      <span class="badge badge-pill badge-warning" v-if="orderIng == true">체결중..</span>
      <span class="badge badge-pill badge-success" v-if="orderComplete == true">체결완료</span>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="warningModalLabel">Warning!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            바스켓을 구성하세요.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Table -->
    <table width='600' border="1" align="center">
      <colgroup>
        <col width='5%' />
        <col width='20%' />
        <col width='30%' />
        <col width='15%' />
        <col width='15%' />
        <col width='15%' />
      </colgroup>
      <tr id='row1' bgcolor="#1FB4C2">
        <td align='center' class="fontSize"> No. </td>
        <td align='center' class="fontSize"> 종목코드 </td>
        <td align='center' class="fontSize"> 종목명 </td>
        <td align='center' class="fontSize"> 현재가 </td>
        <td align='center' class="fontSize"> 주문수량 </td>
        <td align='center' class="fontSize"> 체결수량 </td>
      </tr>
      <tr id='row1' class="basketContents" v-for="mlist in list">
        <td align='center' class="idxColor fontSize"> {{inxMap[mlist]+1}} </td>
        <td align='center' class="fontSize"> {{codeMap[mlist].slice(3,9)}} </td>
        <td align='center' class="stockName fontSize stockNameLink" v-on:click="getStock(stockNameMap[mlist])"> {{stockNameMap[mlist]}} </td>
        <td align='center' v-bind:class="[blinkMap[mlist]==1 ? blink : blinkEnd , riseOrFallMap[mlist]==0 ? bluecolor : redcolor]"> {{curPriceMap[mlist]}} </td>
        <td align='center' class="buy fontSize"> {{orderQntyMap[mlist]}} </td>
        <td align='center' v-bind:class="[tght_blinkMap[mlist]==1 ? blink : blinkEnd]" class="idxColor fontSize"> {{tighteningQntyMap[mlist]}} </td>
      </tr>
    </table>
    <table id='tableDynid' width='500' border="1" align="center">
      <colgroup>
        <col width='5%' />
        <col width='20%' />
        <col width='30%' />
        <col width='15%' />
        <col width='15%' />
        <col width='15%' />
      </colgroup>
    </table>

  </div>
</body>

<script>
  //세번째 자리 콤마
  function comma(rawNum) {
    var len, point, str;

    var num = rawNum.split(".")[0]
    var fnum = rawNum.split(".")[1]
    num = num + "";
    point = num.length % 3;
    len = num.length;

    str = num.substring(0, point);
    while (point < len) {
      if (str != "") str += ",";
      str += num.substring(point, point + 3);
      point += 3;
    }
    if (fnum != undefined && fnum.length > 0) {
      str = str + "." + fnum
    }
    return str;
  }

  var getParam = function(key) {
    var _parammap = {};
    document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function() {
      function decode(s) {
        return decodeURIComponent(s.split("+").join(" "));
      }
      _parammap[decode(arguments[1])] = decode(arguments[2]);
    });

    return _parammap[key];
  };


  var app = new Vue({
    el: '#app',
    data: {
      name: 'VueApp',
      randomValue: null,
      basketName: getParam("basketNameParam"),
      list: [],
      rdmIdxLists: [],
      orderQntyLists: [],
      blinkMap: {},
      tght_blinkMap: {},
      blink: 'blink',
      blinkEnd: 'blinkEnd',
      bluecolor: 'bluecolor',
      redcolor: 'redcolor',
      riseOrFallMap: {},
      stockNameMap: {},
      inxMap: {},
      rndMap: {},
      codeMap: {},
      curPriceMap: {},
      orderQntyMap: {},
      tighteningQntyMap: {},
      tighteningCompMap: {},
      ws: socket,
      wsl: '',
      orderIng: false,
      orderComplete: false,
      debug: false
    },
    mounted() {
      //this.ws = new WebSocket("ws://192.168.100.146:8080/web_server/websocket");
      if (this.debug) {
        this.ws = new WebSocket("ws://127.0.0.1:6789/");
      }
      this.listenStorageORD();
    },
    methods: {
      orderBtnClick() {
        //웹소켓 서버 주문요청
        if (this.rdmIdxLists.length == 0) {
          $('#warningModal').modal('show');
        } else {
          this.orderIng = true;

          //서버에 주문 요청
          var orderArray = new Array();
          for (var l = 0; l < this.list.length; l++) {
            var orderSmallInfo = new Object();
            orderSmallInfo.stock = this.list[l];
            orderSmallInfo.num = this.orderQntyLists[l];
            orderArray.push(orderSmallInfo);
          }
          var orderBasketInfo = new Object();
          orderBasketInfo.basketName = this.basketName;
          orderBasketInfo.orderLists = orderArray;
          var jsonInfo = JSON.stringify(orderBasketInfo);
          //console.log("주문요청 jsonInfo: " + jsonInfo);
          this.ws.send(jsonInfo);
        }
      },
      getStock(stockName) {
        var stockNum = localStorage.getItem(stockName);
        if (stockNum === null) {
          alert("없는 종목입니다.");
        } else {
          this.ws.send("{\"key\":\"" + stockNum + "\"}");
          if (this.debug) {
            try {
              this.wsl.send(localStorage.getItem(stockName));

            } catch (err) {

            }
          }
          this.exwin = window.open("stock.html?name=" + stockName, "", "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=350,height=430,top=" + (screen.height - 700) + ",left=" + (screen.width -
            1540));
        }
      },

      createRandOdrList() {
        //OK버튼 클릭
        if (this.randomValue == null) {
          this.randomValue = 100;
        }
        for (var j = 0; j < this.randomValue; j++) {
          var idx_tmpValue = Math.floor((Math.random() * 883) + 1); //884개
          var rndOrderQnty = Math.floor((Math.random() * 1000) + 1);

          //basket내 stockCode 중복방지
          var tmpRndArray = this.rdmIdxLists.sort();
          for (var e = 0; e < tmpRndArray.length; e++) {
            if (tmpRndArray[e] == idx_tmpValue) {
              idx_tmpValue += 1;
            }
          }
          this.rdmIdxLists.push(idx_tmpValue);
          this.list.push(localStorage.getItem('idxKSP' + idx_tmpValue));
          this.orderQntyLists.push(rndOrderQnty);
        }
        //table row구성
        this.addDynamicRow(tableDynid);

        //서버에 현재가요청
        var orderKeyInfo = new Object();
        orderKeyInfo.basketName = this.basketName;
        orderKeyInfo.orderk = this.list;
        var jsonInfo = JSON.stringify(orderKeyInfo);
        //console.log("orderK SEND jsonInfo: " + jsonInfo);
        this.ws.send(jsonInfo);
      },

      addDynamicRow(table_id) {
        var rowlen = table_id.rows.length;
        for (var i = 0; i < this.rdmIdxLists.length; i++) {
          var row = table_id.insertRow(rowlen - 1);
          var stockCode = this.list[i];
          var stockName = localStorage.getItem(stockCode);

          this.stockNameMap[stockCode] = stockName;
          this.curPriceMap[stockCode] = 0;
          this.inxMap[stockCode] = i;
          this.codeMap[stockCode] = stockCode;
          this.rndMap[stockCode] = this.rdmIdxLists[i];
          this.orderQntyMap[stockCode] = this.orderQntyLists[i];
          this.tighteningQntyMap[stockCode] = 0;
          this.tighteningCompMap[stockCode] = 0;
          this.curPriceMap[stockCode] = comma(localStorage.getItem('l_' + stockCode) * 1 + "");
          this.curPriceMap = _.clone(this.curPriceMap);
          this.blinkMap[stockCode] = 0;
          this.tght_blinkMap[stockCode] = 0;
          this.riseOrFallMap[stockCode] = 0;
        }
      },

      listenStorageORD() {
        var vm = this;
        window.addEventListener('storage', function(e) {
          if (vm.list.indexOf(e.key.slice(2, )) > -1) {
            var num = e.key.slice(2, );
            if (e.key == "t_" + num) {
              var jdata = JSON.parse(e.newValue);
              if (vm.curPriceMap[num] == comma(jdata["체결가격"] * 1 + "")) {
                return;
              }

              var beforeDay = parseInt(jdata["전일대비(기준가대비)구분"]);
              vm.riseOrFallMap[num] = beforeDay > 3 ? 1 : 0;

              vm.curPriceMap[num] = comma(jdata["체결가격"] * 1 + "");
              vm.riseOrFallMap = _.clone(vm.riseOrFallMap);
              vm.curPriceMap = _.clone(vm.curPriceMap);
              //console.log("종목: " + num + ", 현재가: " + vm.curPriceMap[num]);

              for (mlist in vm.list) {
                vm.blinkMap[vm.list[mlist]] = 0;
                vm.blinkMap = _.clone(vm.blinkMap);
              }
              vm.blinkMap[num] = 1;
              vm.blinkMap = _.clone(vm.blinkMap);
            }
          }
          if (e.key == "o_" + vm.basketName) {
            //서버로부터 체결결과 받기
            var jdata = JSON.parse(e.newValue);
            var tmpStockCode = jdata["stock"]; //잔량
            var isAllComplete = true;

            if (vm.tighteningQntyMap[tmpStockCode] != (vm.orderQntyMap[tmpStockCode] - jdata["num"])) {
              //체결수량 업데이트
              vm.tighteningQntyMap[tmpStockCode] = vm.orderQntyMap[tmpStockCode] - jdata["num"];
              vm.tighteningQntyMap = _.clone(vm.tighteningQntyMap);

              for (mlist in vm.list) {
                vm.tght_blinkMap[vm.list[mlist]] = 0;
                vm.tght_blinkMap = _.clone(vm.tght_blinkMap);
              }
              vm.tght_blinkMap[tmpStockCode] = 1;
              vm.tght_blinkMap = _.clone(vm.tght_blinkMap);
            }

            if(jdata["num"]==0) {
              vm.tighteningCompMap[tmpStockCode] = 1; //종목 체결완료
              vm.tighteningCompMap = _.clone(vm.tighteningCompMap);
              for (mComlist in vm.tighteningCompMap) { //basket체결여부 확인
                if (vm.tighteningCompMap[mComlist] == 0){
                  isAllComplete = false;
                }
              }
              if (isAllComplete == true) { //basket 최종 체결완료
                vm.orderIng = false;
                vm.orderComplete = true;
              }
            }
          }
        }); //window
      } //listenStorageORD()

    } //methods
  })
</script>


<style type="text/css">
  table,
  th,
  td {
    border: 1px solid #ffffff;
  }

  .stockNameLink:hover {
    cursor: pointer;
    background-color: #ababab;
    color: #ffffff;
  }

  .blink {
    font-size: 14px;
    font-weight: bold;
    animation: blink 0.5s 2;
  }

  .blinkEnd {
    font-size: 14px;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    76% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .orderbtn {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .okbtn {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
  }

  body {
    background-color: #F6F6F8;
  }

  .table {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 10px;
  }

  input:focus {
    outline: none;
  }

  input {
    width: 60%;
    height: 50px;
    padding: 0;
  }

  .orderBox {
    width: 600px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    align: center;
    margin-bottom: 20px;
  }

  .inputBox {
    float: left;
    background: white;
    border-radius: 5px;
    margin-left: 70px;
    text-align: center;
    height: 50px;
  }

  .inputBox input {
    border-style: none;
    font-size: 0.9rem;
  }

  button {
    border-style: groove;
  }

  .shadow {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.03)
  }

  .stockName {
    color: #000000;
    font-size: 14px;
  }

  .buy {
    color: #E6050A;
  }

  .fontSize {
    font-size: 14px;
  }

  .idxColor {
    color: #688A8D;
  }

  .basketName {
    padding: 5px;
    color: #00272B;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
  }

  .bluecolor {
    color: #0D46C8;
  }

  .redcolor {
    color: #E6050A;
  }

  #app {
    height: 100%;
  }
</style>

</html>
